<form method="POST" id="add_user" action="/api/users">
  <div class="new_user">
    <div class="form-group">
      <label for="title" class="text-light">Title</label>
      <input type="hidden" name="id" value="" />
      <input
        type="text"
        name="title"
        value=""
        placeholder="Enter Product Title"
      />
    </div>
    <div class="form-group">
      <label for="description" class="text-light">Description</label>
      <input
        type="text"
        name="description"
        value=""
        placeholder="Enter product Description"
      />
    </div>
    <div class="form-group">
      <label for="price" class="text-light">Price</label>
      <input type="text" name="price" value="" placeholder="Enter Price" />
    </div>

    <div class="form-group">
      <label for="rating" class="text-light">Rating</label>
      <input
        type="text"
        name="rating"
        value=""
        placeholder="Enter product rating"
      />
    </div>

    <div class="form-group">
      <label for="image" class="text-light">Image</label>
      <input type="text" name="image" value="" placeholder="Enter Image URL" />
    </div>

    <div class="form-group">
      <button type="submit" class="btn text-dark update">Save</button>
    </div>
  </div>
</form>
