<tr>
  <td>id</td>
  <td>titl</td>
  <td>des</td>
  <td>price</td>
  <td>rat</td>
  <td>img</td>
  <td>
    <a href="/update-user" class="btn border-shadow update">
      <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
    </a>
    <a class="btn border-shadow delete">
      <span class="text-gradient"><i class="fas fa-times"></i></span>
    </a>
  </td>
</tr>
